<<<<<<< HEAD
.app {
  display: grid;
  place-items: center;
  height: 100vh;
  /* border: 1px solid black; */
  background-color: #dadbd3;
}

.app_body {
  background-color: #ededed;
  border-radius: 40px;

  height: 90vh;
  width: 70vw;
  box-shadow: -1px 4px 20px -6px rgba(0, 0, 0, 0.75);
}
=======
.App{
    background-color: #fffafa;
    overflow-x: hidden;
}


>>>>>>> c2210c9b5c77d122775b1d9dbc94dd0402c71b41
