/* .navabar a {
  font-size: 1.3rem;
  text-transform: capitalize;
}

.menu_active {
  font-weight: bold;
  border-bottom: 1px solid black;
}

.navabar a:hover {
  color: #3498db !important;
}*/
.navbar_image {
  height: 100px;
  width: 100px;
  /* border: 1px solid black; */
  padding: 0;
  margin: 0 10px;
}
.navbar_image img {
  height: 100%;
  width: 100%;
  padding: 0;
  object-fit: contain;
  display: block;
}
.navbar {
  /* border: 1px solid black; */
  border-bottom: 3px solid rgb(236, 227, 227);
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* height: 100vh; */
  padding-bottom: -30px;

  height: 100px;

  /* position: sticky; */
  top: 0;
  /* z-index: 100; */
  background-color: #fff;
}
.navbar_options {
  display: flex;
  /* padding: 10px 30px; */
  align-items: center;
  font-size: 18px;
  /* border: 1px solid black; */

  /* justify-content: space-between; */
}
.navbar_options p {
  padding: 5px 20px;
  font-size: 16px;
  font-weight: 400;
}
.navbar_download {
  padding: 5px;
  border: 1.5px solid black;
  margin-top: 10px;

  border-radius: 30px;
  font-size: 15px;
  border-color: rgb(25, 86, 140);
  color: rgb(25, 86, 140);
}
.navbar_options p:hover {
  cursor: pointer;
  transition: transform 0.2s ease-in-out;
  transform: scale(1.04) !important;
}
/* .navbar--hidden {
  top: -100px;
} */
.link {
  text-decoration: none !important;
  color: black;
}
.link :hover {
  /* text-decoration: none; */
  color: black;
}
/* .checkbtn {
  color: var(--ae-color);
  float: right;
  display: none;
  cursor: pointer;
} */
@media (max-width: 952px) {
  /* .checkbtn {
    display: block;
  } */
  .navbar_options {
    /* position: fixed;
    width: 100%;
    background-color: white;
    height: 100vh;
    top: 100px; */
    display: none;
  }
}
.navbar_menu {
}
.navbar_option {
  padding: 10px 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  /* border: 1px solid black; */
  /* text-decoration: none; */

  /* border: 1px solid black; */
}
.navbar_option span {
  font-weight: 450;
  font-size: 18px;
}
.showLink {
  text-decoration-line: underline;
  font-weight: bolder;
  /* color: red; */
}
.link:hover {
  cursor: pointer;
  transition: transform 0.2s ease-in-out;
  transform: scale(1.04) !important;
}
.showLink :hover {
  color: red;
}
